* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(102, 99, 99)
}



nav {
    background-color: rgb(126, 173, 221);
    height: 100px;
}

a {
    text-decoration: none;
}

.a-navigator {
    color: aliceblue;
    list-style: none;
    font-size: 1rem;

}

.ul-navigator {
    display: flex;
    padding: 0;
}

ul {
    list-style: none;
}



.li-navigator {
    display: flex;
    margin-top: 30px;
}

/* MAIN */
main,
.melhoresAutores {
    margin-left: 20px;
}

.subtitulo {
    font-style: italic;
    font-weight: bold;
}

.a-subtitulo {
    font-style: italic;
}

.a-subtitulo:hover {
    color: red;
    outline: none;

}

.subtitulo:hover {
    color: red;
    outline: none;
}

.img-artigo {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.container-artigo {
    width: 50%;
    display: flex;
    justify-content: center;

}

.container-artigo-img {
    width: 500%;
    margin-right: 50px;
}

.container-artigo-conteudo {
    width: 500%;

}

.container-artigo-x {
    display: flex;
}

.noticiasRecentes {
    background-color: #e9f0f7;
    align-items: center;
}

td {
    color: rgb(65, 64, 64);
}

.ol-melhotesAutores {
    margin-left: 50px;
}

.videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#entretenimento {
    margin-bottom: 200px;

}

/* FOOTER */
footer {
    background-color: rgb(167, 203, 238);
    height: 100px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.icone-linkedin,
.icone-github,
.icone-contato {
    width: 30px;
    margin-top: 1.75%;

}


@media(max-width:425px) {
    .container-artigo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}